<div class="container">
    <div class="footer-col">
        <h1>Project CGC</h1>
        <p>Copyright {{ now.Year }}. All rights reserved.</p>
    </div>
    <div class="footer-col">
        <h2>Dev Blog</h2>
        <ul>
            <li><a href="#">Blog Post Title</a></li>
            <li><a href="#">Blog Post Title</a></li>
            <li><a href="#">Blog Post Title</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h2>Site Map</h2>
        <ul>
            <li><a href="#">Dev Blog</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Join Us</a></li>
        </ul>
    </div>
</div>
