<section class="head-box">
    <div class="container">
        <div class="head-box-inner">
            <h2 class="big-title">Hypnotic/Biotic</h2>
            <p class="summary">As a wartime journalist you are investigating the root cause of a growing crisis, while trying to save your friend - the only person who can save the world.</p>
            <a class="btn btn-primary" href="#">Learn More</a>
            <a class="btn btn-secondary" href="#">Join Us</a>
        </div>
    </div>
</section>