{{ define "main" }}
  {{ .Content }}
  {{/*  {{ range site.RegularPages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
  {{ end }}  */}}
   <ul class="box-card-list">
    <li class="card-item">
      <div class="card-head">
        <h2>Meet the Team</h2>
      </div>
    </li>
    <li class="card-item">
      <div class="card-head">
        <h2>Dev Blog</h2>
      </div>
    </li>
    <li class="card-item">
      <div class="card-head">
        <h2>Current Projects</h2>
      </div>
    </li>
  </ul>
{{ end }}
