{{ define "main" }}
  {{/*  {{ range site.RegularPages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
  {{ end }}  */}}
  <div class="container">
    {{ partial "blog/range-posts.html" . }}
  </div>
    <section class="team" id="team">
    <div class="container">
      <div class="home-blurb">
        {{ .Content }}
      </div>
      <h1>Game Design</h1>
      <div class="team-members">
        <div class="team-member">
          <img src="https://via.placeholder.com/150" alt="John Doe" />
          <h3>Nate</h3>
          <p>Game Designer</p>
        </div>
        <div class="team-member">
          <img src="https://via.placeholder.com/150" alt="Jane Doe" />
          <h3>Phae Peterson</h3>
          <p>Game Designer</p>
        </div>
        <div class="team-member">
          <img src="https://via.placeholder.com/150" alt="John Smith" />
          <h3>Madi</h3>
          <p>Game Designer
        </div>
        <div class="team-member">
          <img src="{{ .Site.BaseURL }}img/profiles/elsF.jpg" alt="Els Fouché" />
          <h3>Els Fouché</h3>
          <p>Game Designer
        </div>
        <div class="team-member">
          <img src="https://via.placeholder.com/150" alt="John Smith" />
          <h3>Nico</h3>
          <p>Game Designer</p>
        </div>
      </div>
      <h1>Production</h1>
      <div class="team-members">
        <div class="team-member">
          <img src="{{ .Site.BaseURL }}img/profiles/arturoAI.jpg" alt="Arturo Armendaris-Ibarria" />
          <h3>Arturo Armendaris-Ibarria</h3>
          <p>Executive Producer</p>
        </div>
        <div class="team-member">
          <img src="https://via.placeholder.com/150" alt="Jane Doe" />
          <h3>Courtney Cochran</h3>
          <p>Excutive Producer</p>
        </div>
        <div class="team-member">
          <img src="https://via.placeholder.com/150" alt="John Smith" />
          <h3>Bryce Becerra</h3>
          <p>Producer</p>
        </div>
        <div class="team-member">
          <img src="https://via.placeholder.com/150" alt="John Smith" />
          <h3>Alice Portis</h3>
          <p>Producer</p>
        </div>
      </div>
      <h1>Level Design</h1>
      <div class="team-members">
        <div class="team-member">
          <img src="https://via.placeholder.com/150" alt="John Doe" />
          <h3>Leland LeVassar</h3>
          <p>Level Designer</p>
        </div>
      </div>
      <h1>Programming</h1>
      <div class="team-members">
        <div class="team-member">
          <img src="https://via.placeholder.com/150" alt="John Doe" />
          <h3>Abraham</h3>
          <p>Programmer</p>
        </div>
        <div class="team-member">
          <img src="{{ .Site.BaseURL }}img/profiles/ericG.jpg" alt="Eric Galvan" />
          <h3>Eric Galvan</h3>
          <p>Programmer</p>
        </div>
        <div class="team-member">
          <img src="https://via.placeholder.com/150" alt="John Doe" />
          <h3>Jordan</h3>
          <p>Programmer</p>
        </div>
      </div>
      <h1>Sound Design</h1>
      <div class="team-members">
        <div class="team-member">
          <img src="https://via.placeholder.com/150" alt="John Doe" />
          <h3>Riley McBroome</h3>
          <p>Sound Designer</p>
        </div>
        <div class="team-member">
          <img src="https://via.placeholder.com/150" alt="John Doe" />
          <h3>Linus Johannesson</h3>
          <p>Sound Designer</p>
        </div>
        <div class="team-member">
          <img src="https://via.placeholder.com/150" alt="John Doe" />
          <h3>Jess</h3> 
          <p>Sound Designer</p>
        </div>
      </div>
      <h1>2D Art</h1>
      <div class="team-members">
        <div class="team-member">
          <img src="https://via.placeholder.com/150" alt="John Doe" />
          <h3>Symon</h3>
          <p>2D Art</p>
        </div>
      </div>
    </div>
  </section>
  <section class="curr-game">
    <div class="container">
      <img class="game-logo" src="{{ .Site.BaseURL }}img/hyp-bio-logo.png" alt="Current Game Logo" />
      <div class="game-info">
        <img src="https://via.placeholder.com/150" alt="Current Game" />
        <h2>Game Title</h2>
        <p>Game Description</p>
      </div>
      <div class="game-info-alt">
        <img src="https://via.placeholder.com/150" alt="Current Game" />
        <h2>Game Title</h2>
        <p>Game Description</p>
      </div>
    </div>
  </section>
{{ end }}
