:root {
  /* Main colors */
  --blacks-dark: #050505;
  --blacks-med: #2d262d;
  --blacks-light: #544d55;
  --whites-light: #f7f6fb;
  --whites-med: #f1f1f1;
  --whites-dark: #dfdfdf;

  /* Secondary colors - Accents, Buttons, etc */
  --reds-dark: #7b0a02;
  --reds-med: #be1a11;
  --red-light: #dc4740;
  --greens-dark: #39bf2a;
  --greens-med: #5bd350;
  --green-light: #8bde84;
}

h1, h2, h3, h4, h5, h6 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: var(--blacks-dark);
  width: max-content;
  padding: 0.5rem;
}

body {
  color: var(--blacks-med);
  font-family: Cambria, sans-serif;
  line-height: 1.5;
  margin: 0;
}

header {
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

main, footer {
  font-family: Calibri, sans-serif;
  margin: 0 auto;
  width: 60%;
}

a {
  color: var(--whites-light);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  margin-bottom: 1rem;
  background: var(--blacks-dark);
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0 0 0 2rem;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 1rem;
  padding: 0.5rem;
}