<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
  <header>
    <div class="blog-header">
        {{ range .Resources.ByType "image" }}
            {{ $croppedBanner := .Fill "1400x600 Center webp" }}
            <img src="{{ $croppedBanner.Permalink }}" alt="{{ .Title }}"  />
        {{ end }}
    </div>
  </header>
  <main>
    <div class="container">
        <h1>{{ .Title }}</h1>
        <p>{{ .Date.Format "January 2, 2006" }}</p>
        {{ .Content }}
    </div>
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
